@model  IEnumerable<Boilerplate.Web.App.Models.Customer>
@using React.AspNet;
    <html>
    <head>
        <title>Hello React</title>
    </head>
    <body>
        @Html.React("Customer", new
   {
       initialData = Model,
       url = Url.Action("Comments"),
       submitUrl = Url.Action("AddComment"),
       pollInterval = 2000,
   })
        
        <script src="@Url.Content("~/ReactScript/Component/Customer.jsx")"></script>
        @Html.ReactInitJavaScript()
    </body>
</html>
