@model IEnumerable<Boilerplate.Web.App.Models.Customer>
@using React.AspNet;
@{
    ViewData["Title"] = "edit";
}

<h2>edit</h2>

<script src="@Url.Content("~/ReactScript/Component/CommentForm.jsx")"></script>
